.form-1{
    width:fit-content;
    background:palegreen;
    height:fit-content;
    margin-top:10vh;
    position:relative;
    left:40vw;
}

#first-name,#last-name,#username,#age,#birth-year{
    display:block;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:5vw;
    padding-right:5vw;
    border-radius:20px;
}

.submit{
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:6vw;
    padding-right:6vw;
    margin-top:5vh;
    margin-left:4vw;
}
